<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
        <title>informations</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h2 style="text-align: center; margin-block: 30px;">
            뇌졸중 예방 정보
        </h2>
        <button class="predictbtn" onclick="document.location.href='/main'">되돌아가기</button>
        <div class="main2">
            <p>
                키워드를 검색하세요!
            </p>
            <input class="searchbox" type="text" value="뇌졸중을 부르는 위험한 습관">
            <button class="searchbtn"> 검색 </button>
        </div>
            <tr th:each="info : ${infoList}">
                <div class="main3" >
                    <a style="font-size: 20px;" th:href="@{informations/{infoId}(infoId=${info.id})}" ><td th:text="${info.title}"></td></a>
<!--                    <div style="font-size: 14px;padding-left: 10px;padding-right: 10px;text-align: left;"><td th:text="${info.detail}"></td></div><br/>-->
                </div>
            </tr>
    </body>
</html>